---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import IntroSection from '../components/IntroSection.astro';
import HomeSection from '../components/HomeSection.astro';
import FeaturedSection from '../components/FeaturedSection.astro';
import SpotlightSection from '../components/SpotlightSection.astro';
import NewsSection from '../components/NewsSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<HeroSection />
		<IntroSection />
		<HomeSection />
		<FeaturedSection />
		<SpotlightSection />
		<NewsSection />
	</main>
</Layout>

<style>
	
</style>
