---
const { description } = Astro.props;
---

<div class="companies-container">
    <div class="logo-container">
        <slot name="svg" />
    </div>
    <p>{description}</p>
</div>

<style>
    .companies-container {
        height: 150px;
        max-width: 180px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        gap: 30px; 
    }

    .companies-container:hover {
        text-decoration:underline; 
    }

    .companies-container p {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        color: inherit;
    }

    .logo-container {
        width: 180px;
        transition: all 0.5s;
        fill: var(--text-color);
    }
    
    .companies-container:hover .logo-container  {
        transform: scale(1.1);
    }

    @media (max-width: 768px) {

        .companies-container {
            justify-content: flex-start;
        }

        .logo-container {
            width: 80%;
        }

        .companies-container p {
            font-size: 0.6rem;
        }
    }

</style>