---
import FeaturedItem from "./FeaturedItem.astro";
---

<section>
    <h2>Featured Engagements</h2>
    <div class="featured-list">
        <FeaturedItem 
            title="GOOGLE" 
            text="Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions. Learn more about our partnership here"
            url="http://cdn.sanity.io/images/8nn8fua5/production/7121121ed910b145bdb6df487966a7888c2eb7c3-272x92.svg?w=720&fm=webp&q=65"
        />
        <FeaturedItem 
            title="KFC" 
            text="Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions. Learn more about our partnership here"
            url="https://cdn.sanity.io/images/8nn8fua5/production/09a68ec6d03469bfd5bbb9726a58225acb900ae2-128x42.svg?w=720&fm=webp&q=65"
        />
        <FeaturedItem 
            title="WILSON" 
            text="Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions. Learn more about our partnership here"
            url="https://cdn.sanity.io/images/8nn8fua5/production/fbb650ce74c1849cb4da2d9951fad89149494cc9-171x42.svg?w=720&fm=webp&q=65"
        />
        <FeaturedItem 
            title="AT&T" 
            text="Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions. Learn more about our partnership here"
            url="https://cdn.sanity.io/images/8nn8fua5/production/b2624b2d49d9c14eec0cd30203c5eec0331eac42-42x42.svg?w=720&fm=webp&q=65"
        />
    </div>
</section>

<style>

    section {
        height: auto;
        padding-left: 80px;
    }

    h2 {
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #252422;
        width: 300px;
        padding-bottom: 100px;
    }

    .featured-list {
        overflow-x: scroll;
        position: relative;
        display: flex;
        gap: 20px;
        cursor: grab;
    }

    .featured-list::-webkit-scrollbar {
        width: 0;
    }

</style>

<script>

    const slider = document.querySelector('.featured-list');
    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
    isDown = true;
    slider.classList.add('active');
    startX = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
    isDown = false;
    slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
    isDown = false;
    slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
    if(!isDown) return;
    e.preventDefault();
    const x = e.pageX - slider.offsetLeft;
    const walk = (x - startX) * 3; //scroll-fast
    slider.scrollLeft = scrollLeft - walk;
    console.log(walk);
    });

</script>
