---
import FeaturedItem from "./FeaturedItem.astro";
---

<section>
    <h2>Featured Engagements</h2>
    <div>
        <FeaturedItem 
            title="Google" 
            text="Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions. Learn more about our partnership here"
            url="http://cdn.sanity.io/images/8nn8fua5/production/7121121ed910b145bdb6df487966a7888c2eb7c3-272x92.svg?w=720&fm=webp&q=65"
        />
        <FeaturedItem 
            title="Google" 
            text="Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions. Learn more about our partnership here"
            url="https://cdn.sanity.io/images/8nn8fua5/production/7121121ed910b145bdb6df487966a7888c2eb7c3-272x92.svg?w=720&fm=webp&q=65"
        />
        <FeaturedItem 
            title="Google" 
            text="Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions. Learn more about our partnership here"
            url="https://cdn.sanity.io/images/8nn8fua5/production/7121121ed910b145bdb6df487966a7888c2eb7c3-272x92.svg?w=720&fm=webp&q=65"
        />
        <FeaturedItem 
            title="Google" 
            text="Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions. Learn more about our partnership here"
            url="https://cdn.sanity.io/images/8nn8fua5/production/7121121ed910b145bdb6df487966a7888c2eb7c3-272x92.svg?w=720&fm=webp&q=65"
        />
    </div>
</section>

<style>

    section {
        height: auto;
        padding: 80px;
        overflow-x: auto;
    }

    h2 {
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #252422;
        width: 300px;
        padding-bottom: 100px;
    }

    div{
        display: flex;
        gap: 20px;
    }

</style>