<footer>
    <div class="footer-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 307 100"><path d="M0 86.8h41.9c19.6 0 31.3-8.3 31.3-24.5 0-10.2-6-16.2-15.1-19.2 7.2-3.4 12.1-9.4 12.1-19.2 0-12.5-7.9-21.5-27.2-21.5H0v84.4zm47.2-58.5c0 5.7-3.8 8.7-11.7 8.7H23V19.6h12.5c8.3 0 11.7 3 11.7 8.7zm2.6 32.5c0 6-3.8 8.7-12.1 8.7H22.6V51.7h15.1c8.3.4 12.1 3 12.1 9.1zM128.3 0h-18.9L73.6 100h18.5L128.3 0zm88.3 44.5c0-23.8-12.8-42.3-46-42.3h-35.5v84.5h35.5c32.8.1 46-18.4 46-42.2zm-24.1 0c0 16.6-9.4 22.6-22.3 22.6h-12.1V21.9h12.1c12.8 0 22.3 6 22.3 22.6zM224.2 46.4c0 22.6 18.5 41.1 41.1 41.1s41.1-18.5 41.1-41.1-18.5-41.1-41.1-41.1c-22.7 0-41.1 18.5-41.1 41.1zm7.9 0c0-18.9 14.7-34 33.2-34 18.5 0 33.2 15.1 33.2 34s-15.1 34-33.2 34c-18.5-.4-33.2-15.5-33.2-34zM246 66.8h12.8v-14h7.5l7.5 14h14l-9.4-16.6c4.2-1.9 7.5-6.8 7.5-12.1 0-9.4-6-14-16.6-14h-23.8v42.6h.5zm26.8-28.7c0 3.4-2.3 4.9-6.4 4.9h-7.9v-9h7.9c4.5.3 6.4 1.1 6.4 4.1z"></path></svg>
        <div class="footer-info">
            <p>We collaborate with ambitious brands and people. Let's build.</p>
            <a href="#">biz@basicagency.com</a>
        </div>
        <div class="footer-contact">
            <p>● Stay in the know</p>
            <div class="footer-input">
                <input type="email" placeholder="Email Address">
                <button>
                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><path d="M.1 7.5h14v2H.1z"></path><path d="m8.4 0 8.5 8.5-1.4 1.4L7 1.4 8.4 0z"></path><path d="m7 15.6 8.5-8.5 1.4 1.4L8.4 17 7 15.6z"></path></svg>
                </button>
            </div>
        </div>
        <div class="footer-links">
            <div>
                <p>● Social</p>
                <ul>
                    <li><a href="#"></a>Instagram</li>
                    <li><a href="#"></a>Twitter</li>
                    <li><a href="#"></a>LinkedIn</li>
                    <li><a href="#"></a>Facebook</li>
                </ul>
            </div>
            <div>
                <p>● Initiatives</p>
                <ul>
                    <li><a href="#"></a>Crafted</li>
                    <li><a href="#"></a>Applied</li>
                    <li><a href="#"></a>Brandbeats</li>
                    <li><a href="#"></a>Moves</li>
                    <li><a href="#"></a>B®/Good</li>
                </ul>
            </div>
            <div>
                <p>● Offices</p>
                <ul>
                    <li><a href="#"></a>San Diego - CA</li>
                    <li><a href="#"></a>New York - NY</li>
                    <li><a href="#"></a>Bay Area - CA</li>
                    <li><a href="#"></a>St. Louis - MO</li>
                    <li><a href="#"></a>Amsterdam - NL</li>
                    <li><a href="#"></a>London - EN</li>
                    <li><a href="#"></a>Berlin - GE</li>
                    <li><a href="#"></a>Argentina - AR</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    footer{
        background-color: #252422;
        color: #f4f4f4;
        padding: 100px 80px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 110px;
    }

    svg {
        fill: #f4f4f4;
        width: 80px;
    }

    .footer-info {
        width: 500px;
    }

    p {
        font-weight: 500;
        font-size: 1.8rem;
    }

    .footer-info a{
        color: #f4f4f4;
        font-size: 1.8rem;
    }

    .footer-contact p {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 550;
        position: relative;
        
    }

    .footer-input {
        display: flex;
    }

    input {
        margin-top: 10px;
        width: 550px;
        height: 40px;
        border: none;
        border-bottom: 1px solid #f4f4f4;
        background-color: #252422;
        font-size: 1.1rem;
        outline: none;
        color: #f4f4f4;
    }

    button {
        background-color: #252422;
        border: none;
        border-bottom: 1px solid #f4f4f4;
        cursor: pointer;
    }

    .arrow {
        width: 20px;
        position: relative;
        display: inline-block;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-links p {
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .footer-links ul {
        list-style: none;
        padding: 15px 0;
        font-size: 1.1rem;
    }

    .footer-links li {
        width: fit-content;
    }

    .footer-links li:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    @media (max-width: 1280px) {
        .footer-container {
            grid-template-columns: 1fr;
        }

        .footer-info {
            width: 100%;
        }

        .footer-contact {
            width: 100%;
        }

        .footer-links {
            grid-template-columns: 1fr;
        }
    }

</style>