<section class="section">
    <div>A</div>
    <div>B</div>
    <div>C</div>
</section>

<style>
    .section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 70%;
        height: 600px;
    }
</style>