---
 const {image, title, date} = Astro.props;
---

<div class="news">
    <div class="image-container">
        <img src={image} alt="#">
    </div>
    <div class="news-header">
        <div class="news-title">
            <h5>{title}</h5>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><path d="M.1 7.5h14v2H.1z"></path><path d="m8.4 0 8.5 8.5-1.4 1.4L7 1.4 8.4 0z"></path><path d="m7 15.6 8.5-8.5 1.4 1.4L8.4 17 7 15.6z"></path></svg>
        </div>
        <p>Press {date}</p>
    </div>
</div>

<style>

    .news {
        display: flex;
        gap: 20px;
        border-top: 1.5px solid var(--text-color);
        padding: 20px 0 70px 0;
    }

    .news:hover {
        cursor: pointer;
    }

    .news:hover img {
        transform: scale(1);
    }

    .news:hover h5 {
        text-decoration: underline;
    }

    .news:hover svg {
        transform: translateX(20px);
    }

    .image-container {
        max-width: 650px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }

    .news-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .news-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .news-title h5 {
        font-size: 2.5rem;
        text-transform: uppercase;
        width: 600px;
        font-weight: 500;
        line-height: 1.1;
    }

    svg {
        width: 30px;
        transition: all 0.5s;
        padding-top: 10px;
        fill: var(--text-color);;
    }

    p {
        font-weight: bold;
        text-transform: uppercase;
    }

    @media (max-width: 1000px){
        .news {
            display: flex;
            flex-direction: column;
        }

        .news-title h5 {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 768px){

        .news {
            padding-bottom: 20px;
        }

        .news-header {
            display: flex;
            justify-content: space-around;
            min-height: 150px;
            position: relative;
        }

        svg {
            position: absolute;
            right: 0;
            bottom: 0;
            padding-bottom: 5%;
            width: 25px;
        }
    }

</style>