---
import News from "./News.astro";
import Button from "./Button.astro";
---

<section>
    <header>
        <h3>Featured news</h3>
        <Button text="View All" />
    </header>
    <div>
        <News 
            image="https://cdn.sanity.io/images/8nn8fua5/production/162fd00622e522dddacedbb98f34181c860a6bbd-1000x734.png?w=720&fm=webp&q=65" 
            title="The new roadmap for auto brands" 
            date="8.1.23"
        />
        <News 
            image="https://cdn.sanity.io/images/8nn8fua5/production/662f84ebd1a959663ce02b538af1acef645219b6-2000x1468.png?w=720&fm=webp&q=65" 
            title="Breaking Through the Branding Blahs" 
            date="6.16.23"
        />
        <News 
            image="https://cdn.sanity.io/images/8nn8fua5/production/7bfa1142f0f770512f035212055fb32dedc8b75b-1000x734.png?w=720&fm=webp&q=65" 
            title="John Waters, Bare Walls, and Sparking Creativity" 
            date="5.15.23"
        /> 
        <News 
            image="https://cdn.sanity.io/images/8nn8fua5/production/d8caa7e7da57ee7d1075bc99445288555a37a54b-870x544.png?w=720&fm=webp&q=65" 
            title="Women’s History Month Spotlight at B/D®" 
            date="4.3.23"
        />    
    </div>
</section>

<style>

    section {
        padding: 0 80px 100px 80px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }

    h3 {
        width: 300px;
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    @media (max-width: 1280px){
        section {
            padding: 0 40px;
        }

        h3 {
            font-size: 2rem;
        }
    }

</style>