---
import Button from "./Button.astro";
---

<section class="spotlight-section">
    <header>
        <h1>BASIC/DEPT® HELPS BRANDS ● CONNECT W/ CULTURE</h1>
        <p>Adweek <b>agency spotlight</b> </p>
        <Button text="About us" />
    </header>
        <video src="/culture-loop.mp4" autoplay muted loop></video>
</section>

<style>
    .spotlight-section {
        padding: 150px 70px 100px 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    header {
        padding: 10px 0;
    }

    h1 {
        font-size: 6rem;
        line-height: 1;
    }

    p {
        padding: 30px 0 80px 0;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    a {
        font-size: 0.7rem;
        border-radius: 15px;
        border: 2px solid #000;
        text-transform: uppercase;
        padding: 5px 30px;
        text-decoration: none;
        font-weight: bold;
        color: #000;
        transition: all 0.5s;
    }

    a:hover {
        background-color: #000;
        color: #f4f4f4;
    }

    video {
        width: 100%;
        height: auto;
    }

    @media (max-width: 1280px){
		.spotlight-section{
			grid-template-columns: 1fr;
            padding: 0 40px;
		}

        header {
            
            border: 2px solid green;
        }

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
        }

        video {
            
        }
	}

</style>

<script>
    const sections = document.querySelectorAll('.spotlight-section');
    let activeSection = null;

    window.addEventListener('scroll', () => {
        sections.forEach((section) => {
            const rect = section.getBoundingClientRect();
            const halfHeight = rect.height / 1.5;
            const isInView = rect.top >= -halfHeight && rect.bottom <= window.innerHeight + halfHeight;

            if (isInView) {
                if (section !== activeSection) {
                    if (activeSection) {
                        activeSection.classList.remove('active');
                    }
                    document.documentElement.classList.add('active'); // Agregar la clase al html
                    activeSection = section;
                }
            } else if (section === activeSection) {
                document.documentElement.classList.remove('active'); // Remover la clase del html
                activeSection = null;
            }
        });
    });
</script>