<section>
    <header>
        <h1>BASIC/DEPT® HELPS BRANDS ● CONNECT W/ CULTURE</h1>
        <p>Adweek <b>agency spotlight</b> </p>
        <a href="#">About us</a>
    </header>
        <video src="/culture-loop.mp4" autoplay muted loop></video>
</section>

<style>
    section {
        padding: 150px 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    header {
        padding: 10px 0;
    }

    h1 {
        font-size: 6rem;
        line-height: 1;
    }

    p {
        padding: 30px 0 80px 0;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    a {
        font-size: 0.7rem;
        border-radius: 15px;
        border: 2px solid #000;
        text-transform: uppercase;
        padding: 5px 30px;
        text-decoration: none;
        font-weight: bold;
        color: #000;
        transition: all 0.5s;
    }

    a:hover {
        background-color: #000;
        color: #f4f4f4;
    }

    video {
        width: 100%;
        height: auto;
    }

</style>